<!DOCTYPE html>

<html>
<head>
    {#    Importing js library for google plot#}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {#    code to plot 2 different plots 1) issues type distribution 2) word_frequency distribution#}

    <title>Gender Age Detection App </title>

    <meta charset="utf-8">
    <style>
        {#        setting a gradient for background as I love gradients to use :)#}
        body {
            background: #C04848;
            background: -webkit-linear-gradient(112.2deg,  rgba(86,223,223,1) 4.7%, rgba(2,28,186,1) 110.1% ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient( 112.2deg,  rgba(86,223,223,1) 4.7%, rgba(2,28,186,1) 110.1% ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        /*background-image: linear-gradient( 112.2deg,  rgba(86,223,223,1) 4.7%, rgba(2,28,186,1) 110.1% );*/

        input[type=text], select {

            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 6px;
            box-sizing: border-box;
            margin-top: 6px;
            width: 80%;
            resize: vertical;
        }

        input[type=submit] {
            background-color: black;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        label {
            margin-top: 16px;
            display: block;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }


        .submit {
            margin-top: 10px;
        }

        .container {

            border-radius: 25px;
            background-color: rgba(242, 242, 242, 0.7);

            padding: 20px;
            width: 1170px;
            margin: 40px auto;
            width: 100%;

        }

        .message .error {
            color: red;
        }


        #contact-form .disabled {
            color: white;
            align: center;
            background: gray;
        }

        @media (max-width: 1169px) {
            .container {
                width: 100%;
            }
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


</head>
<body>


<div class="container">

    <div class="row">
    <div class="col">
         <h1> Gender Age Detection App <a href="https://github.com/facebookresearch/detectron2"><i class="fa fa-github" aria-hidden="true"></i></a> </h1>
    <p style="color: red; visibility: {{ result['time_visibility'] }}">request time: {{ result["duration"] }} sec<p>
    {#adding form to take image link as input#}

    <form id="contact-form" action="/gender_age" method="post">

        <input type="text" name="image_url" placeholder="Enter public Image URL ..." required>
    <input type="submit" value="Extract">

    <br><br>
</form>
    </div>
<!--    <div class="col">-->
<!--        <img class="img-responsive" style="height: 250px; width: 450px" src="../static/maked%20RCNN.png" alt="">-->
<!--    </div>-->
</div>
    <hr>
    {#    showing results in table#}
    <div style="visibility: {{ result['table_visiblity'] }}">
        <div><h3>Ml model results:</h3></div>
        <div class="container">
            <div class="row">
                <div class="col">
                     <img class="img-responsive" style="height: 200px; width: 200px" src={{ result["input_image_path"] }} alt="">
                </div>
                <div class="col">
                     <img class="img-responsive" src="../static/images/nn_loader.gif" alt="">
                </div>
                <div class="col">
                     <img class="img-responsive" style="height: 400px; width: 400px" src= {{ result["output_image_path"] }} alt="">
                </div>
            </div>
        </div>


    {#showing plots#}
    Predicted Genders and Age Groups:
    <table class="table">
  <thead>
  <p> {{ result["raw_output"]["message"] }}</p>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Gender</th>
      <th scope="col">Age Group</th>
    </tr>
  </thead>
  <tbody>
  {% for i in range(result["raw_output"]["genders"] | length) %}
<tr>
      <th scope="row"> {{ i+1 }} </th>
      <td>{{ result["raw_output"]["genders"][i] }}</td>
      <td>{{ result["raw_output"]["ages"][i] }}</td>
    </tr>
  {% endfor %}


  </tbody>
</table>
<!--    <div id="issues_distribution_chart"-->
<!--         style="width: 600px; height: 400px;float:left;margin: 10px; visibility: {{ graph_visibility }}"></div>-->
<!--    <div id="token_distribution_chart"-->
<!--         style="width: 600px; height: 400px;float:right;margin: 10px; visibility: {{ graph_visibility }}"></div>-->
</div>
    </div>
</body>
</html>