<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Nearest Color App </title>

    <meta charset="utf-8">
    <style>
        body {
            background: #C04848;
            background: -webkit-linear-gradient(248.1deg,  rgba(255,200,69,1) -0.1%, rgba(48,195,158,1) 100.5%  ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(248.1deg,  rgba(255,200,69,1) -0.1%, rgba(48,195,158,1) 100.5% ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        /*background-image: linear-gradient( 112.2deg,  rgba(86,223,223,1) 4.7%, rgba(2,28,186,1) 110.1% );*/

        input[type=text], select {

            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 6px;
            box-sizing: border-box;
            margin-top: 6px;
            width: 50%;
            resize: vertical;
        }

        input[type=submit] {
            background-color: black;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        label {
            margin-top: 16px;
            display: block;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }


        .submit {
            margin-top: 10px;
        }

        /*.container {*/

        /*    border-radius: 25px;*/
        /*    background-color: rgba(242, 242, 242, 0.7);*/

        /*    padding: 20px;*/
        /*    width: 1170px;*/
        /*    margin: 40px auto;*/
        /*    width: 100%;*/

        /*}*/

        .message .error {
            color: red;
        }


        #contact-form .disabled {
            color: white;
            align: center;
            background: gray;
        }

        @media (max-width: 1169px) {
            .container {
                width: 100%;
            }
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


</head>
<body>


<div class="container" style="padding:5%">
  <div class="row" style="width: 100%">
    <div class="col-8" style="background: black; width: 100%;height: 100%">
      <div class="container" style="padding: 25px">

          <form id="contact-form" action="/color/nearest" method="post">

              <input type="text" name="rgb" placeholder="Enter RGB color code." required>
              <input type="submit" value="Extract"></form>
          <br><br>
          <div class="row" style="width: 60%">
              <div class="col">
                  <p style="color: bisque"> Input </p>
                  <div style="padding: 20px;background: {{ result['raw_output']['input_code'] }}"></div>
                  <p style="color: bisque"> {{ result["raw_output"]["input_code"] }} </p>
              </div>

              <div class="col">
                  <p style="color: bisque"> Output </p>
                  <div style="padding: 20px;background: {{ result['raw_output']['output_code'] }}"></div>
                  <p style="color: bisque"> {{ result["raw_output"]["output_code"] }} </p>
                  <p style="color: bisque"> {{ result["raw_output"]["output_name"] }} </p>
              </div>
          </div>
      </div>
    </div>
      <div class="col" style="background: bisque; width: 100%;height: 100%">
          <br>
          {% for i in range(result["raw_output"]["all_code"]|length) %}
          <div class="row" style="width: 100%">
              <div class="col">
                  <div style="padding: 5px;background: {{ result['raw_output']['all_code'][i] }}"></div>
              </div>
              <div class="col">
                  <p style="color: black;font-size: small"> {{ result['raw_output']['all_code'][i] }} </p></div>
              <div class="col">
                  <p style="color: black;font-size: small">  {{ result['raw_output']['all_name'][i] }} </p>
              </div>
          </div>
          {% endfor %}
      </div>

  </div>
</div>
</body>
</html>